*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
    font-family: arial,sans-serif;
}

body {
    box-sizing: border-box;
}

.container {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-right: 1px solid black;
    
}
.bill{
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: space-between;
   
}
.bill__header {
    width: 100%;

}
    
.bill__title{
    color: white;
    text-align: center;
    background-color:#522725;
    border-bottom: 1px solid black;
    font-size: 15px;
}
.bill__bill-list{
    width: 100%;
 
    
}
.bill__list-product{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #E5E5E5 ;
    margin-top: 1px;
    padding: 5px;
    border: 1px solid black;
}
.bill__bill-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.fa-plus{
    margin-left: 5px;
    margin-right: 5px;
}
.fa-minus{
    margin-left: 5px;
    margin-right: 5px;
}
.bill__product-name{
    width: 50%;
}


.fa-times{
    margin-right: 5px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-end;
}
.bill__price{
    
    color:white;
    background-color:#522725;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.bill__sum-caption{
    color:white;
    background-color:#522725;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bill__sum{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#522725;
   color: white;
    width: 100%;
    
}

.container__bill_sum{
    display: flex;
    flex-direction: column;
    
}
.bill__buttons-area{
    display: flex;
    flex-direction: row;
    width: 100%;
 
}
.bill__button-open-bill{
    width: 50%;
    background-color: #0C4352;
    color: white;
}
.bill__button-close-bill{
    width: 50%;
    background-color: #0E5C58;
    color: white;
}
.food-container{

    display: flex;
    flex-direction: column;
    width: 70%; 
    color: white;
}
.food-container__header-title{
    
    color:white;
    background-color:#13503A;
    text-align: center;
    font-size: 16px;

}
.menu{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.menu__meal {
    margin: 8px;
    color:black;
    background-color: #EBE6B6;
    height: 8rem;
    width: 8rem;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    text-overflow: ellipsis;
    padding: 5px;  
}
.menu__meal-caption {
    text-align: center;
    font-size: 11px;
    font-weight: bolder;
    width: 100%;
    align-self: center;

    
}

/* .container_food_menu__meals:hover {
        color: rgba(128, 128, 128, 0.712);
        background-color: var(--primary-color);
        box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.4);
    } */

.table{
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    width: 100%;  
    
}
.bill-open{
    width: 50%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
}

.bill-open__table-number--active {
 border: 3px solid black;
}

.table-title{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.bill-open__header{
    background-color: #0c4352;
    width: 100%;
    color: white;
    border-right: 1px solid black;
    text-align: center;
}


.bill-open__body{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
}
    
.bill-open__table-number{
    margin: 8px;
    color:black;
    background-color: #EBE6B6;
    height: 60px;
    width: 60px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    padding: 18px;
    text-align: center;
}
.bill-closed{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.bill-closed__header{
    background-color: #0E5C58 ;
    width: 100%;
    color: white;
    text-align: center;
}
.bill-closed__body{
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    width: 100%;
}
.bill-closed__table-number{
    margin: 5px;
    text-align: center;
    color:black;
    background-color: #EBE6B6;
    height: 6rem;
    width: 6rem;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    font-weight: bold;
}
.bill-closed__table-number--active{
    border: 3px solid black;
}

.modal-window-table-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}

.modal-window-table {
    padding: 5rem;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-window-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}

.modal-window {
    background-color: rgb(255,255,255);
}

.modal-window-overlay__modal-window {
    position: absolute;
    top: 10%;
    left: 5%;
    transform: translate(-5%, -10%);
}

.modal-window__container {
    display: flex;
    flex-wrap: wrap;
}
.modal-window__footer{
    display: flex;
    justify-content: end;
    padding: 20px;
    gap: 10px;
}

.modal-window__meal {
    
    margin: 5px;
    color:black;
    background-color: #EBE6B6;
    height: 9rem;
    width: 9rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    text-overflow: ellipsis;
    padding: 1px;
    font-size: 12px;
}
.modal-window__meal-price{
    font-size: 12px;
    font-weight: bolder;
}
.modal-window__meal-caption {
    text-align: center;
    font-size: 8px;
}

.meal--active {
    border: 4px solid blue;
}


.hidden {
    display: none;
}

.fa-minus-square {
    font-size: 2rem;
    margin-right: 5px;
}

.fa-plus-square {
    font-size: 2rem;
    margin-left: 5px;
   
}
.modal-window__quantity{
    font-size: 1.5rem;
    
   
}